**.iml
.idea
**target
.tmp
**build
.gradle

/frontend/test/unit/coverage/
/frontend/test/e2e/reports/
/frontend/node_modules/
/frontend/dist/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/selenium-debug.log
/frontend/package-lock.json
