**.iml
.idea
**target
.tmp
**build
**out
.gradle
**node_modules

/frontend/test/unit/coverage/
/frontend/test/e2e/reports/
/frontend/dist/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/selenium-debug.log
/frontend/package-lock.json
/webserver/apidoc/
